.product {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50px repeat(3, 120px) 76px;   
}
.imgContainer, .nameContainer, .pricesContainer, .countContainer, .sumPriceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer img {
    max-height: 50px;
    max-width: 50px;
}
.product p {
    font-size: 12px;
    color: #0C122A;
    text-align: center;
}
.pricesContainer {
    flex-direction: column;
    gap: 6px;
}
.priceDiscounted {
    text-decoration: line-through;
}
.priceDiscount {
    color: #B62D11 !important; 
}
