.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin: 0 40px;
    border: #E4E4E7 1px solid;
    border-radius: 62px;
    padding: 10px 40px;
    height: 64px;
}

.navigation {
    display: flex;
    gap: 27px;
}
.navigation a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #9EA0AA;
    transition: all 0.5s ease;
}
.navigation a:hover {
    color: black;
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.actionsUser {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}