.header {
    position: fixed;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    border: #E4E4E7 1px solid;
    border-radius: 62px;
    padding: 10px 40px;
    height: 64px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    width: 95vw;
    backdrop-filter: blur(64px);
    z-index: 10;
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.3;
    z-index: -1;
}
.navigation {
    display: flex;
    gap: 27px;
}
.navigation a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #9EA0AA;
    transition: all 0.5s ease;
}
.navigation a:hover {
    color: black;
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.actionsUser {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}