.footer{
	position: relative;
	width: 100%;
	height: 850px;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	background-color: #CDD5DD;
	justify-content: space-around;
}

.footer::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	clip-path: ellipse(65% 417.5px at 50% -100px);
	z-index: 2;
}

.information{
	display: flex;
	flex-direction: row;
	height: fit-content;
	gap: 180px;
	align-items: center;
	z-index: 4;
}

.infoBlock{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.infoBlock h4{
	font-size: 44px;
	color: #0C122A;
}

.infoBlock p{
	color: #0C122A;
	font-size: 16px;
}

.links{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 27px;
}

.links a{
	text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
	color: #0C122A;
	font-size: 16px;
    text-align: center;
	width: 90px;
}

.footerBottom{
    display: flex;
    align-items: center;
    flex-direction: column;
	width: 90%;
    gap: 24px;
}
.footerBottom hr {
    width: 90%;
    border: 1px #F4F4F4 solid;
    border-radius: 45px;
}
.footerBottom p {
	color: #9EA0AA;
	font-size: 16px;
	text-align: center;
}