.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title {
    font-size: 44px;
    font-weight: 900;
    color: #CDD5DD;
    text-transform: uppercase;
    letter-spacing: 3px;
}