.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    overflow: hidden;
}
.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.texts h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
}
.texts p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 650px;
}
.imageContainer {
    transform: translateY(-75px);
}
.imageContainer img {
    width: 750px;
    height: 750px;
}
.bottomBackground {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 110vw;
    height: 600px;
    background-color: #FFFFFF;
    border-radius: 50% 50% 0 0 / 50% 50% 0 0;
    z-index: -1;
}
.main{
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
}