.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 322px;
    height: 363px;
    padding: 14px;
}
.img {
    width: 100%;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img img {
    position: absolute;
    width: 80%;
}
.information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.information h2 {
    font-weight: 500;
    font-size: 24px;
}
.price {
    display: flex;
    gap: 16px;
}
.price p {
    font-weight: 500;
    font-size: 14px;
}
.priceDiscounted {
    text-decoration: line-through;
}
.priceDiscount {
    color: #B62D11;
}