.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.image {
    position: relative;
    left: 30px;
    width: 400px;
}

.text {
    font-size: 24px;
    font-weight: 500;
    color: black;
}