.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}

.image {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

.text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333333;
    line-height: 1.4;
}