.newProducts {
    display: flex;
    flex-direction: column;
    gap: 135px;
    align-items: center;
    margin-top: 100px;
}
.header h1 {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #CDD5DD;
    letter-spacing: 2px;
}
.cards {
    display: flex;
    gap: 35px;
    justify-content: center;
}