.newProducts {
    display: flex;
    flex-direction: column;
    gap: 135px;
    align-items: center;
    margin-top: 100px;
}
.header h1 {
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #CDD5DD;
    letter-spacing: 2px;
}
.cards {
    display: flex;
    gap: 35px;
    justify-content: center;
}
.card {
    position: relative;
    width: 437px;
    height: 437px;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 10px;
}
.card * {
    color: white;
}
.card::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(#fffaaa00, var(--gradColor, #fff));
	height: 100%;
	z-index: 1;
	border-radius: inherit;
}
.firstDrone {
    background-image: url("../../assets/images/drone1Back.jpg");
    background-size: cover;
}
.secondDrone {
    background-image: url("../../assets/images/drone2Back.jpg");
    background-size: cover;
}
.thirdDrone {
    background-image: url("../../assets/images/drone3Back.jpg");
    background-size: cover;
}
.imgDrone {
    position: absolute;
    top: -120px;
    width: 300px;
}
.information {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 24px;
    gap: 70px;
}
.nameDesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.nameDesc h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 50px;
}
.nameDesc p {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.bottomCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottomCard h3 {
    font-weight: 500;
}
.bottomCard button {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 16px;
    border-radius: 100px;
    border: 1px #FFFFFF solid;
    background: none;
}
.bottomCard button p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}